<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @statement.user %>
</p>

<p>
  <strong>Date:</strong>
  <%= @statement.date %>
</p>

<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
