<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @policy.name %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @policy.carrier %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @policy.kind %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @policy.commission %>
</p>

<%= link_to 'Edit', edit_policy_path(@policy) %> |
<%= link_to 'Back', policies_path %>
